@-webkit-keyframes colorPulse { 0% {background-color: red;} 50% {background-color: chartreuse;} 100% {background-color: yellow;} }

html { height: 100% ;

	 
	width: 560px; 
	height: 400px; 
	background-image: url(bg-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	-webkit-animation: colorPulse 1s infinite alternate; 
}


    

body { height: 100%; margin: 0; padding: 0 }



#map-canvas { 
            height:100%;
            width: 100%;
            margin-left: 100px;
            margin-right: 100px;
     
}
#search {
    position: absolute;
    right: 500px;
    width: 300px;
     } 
#searchbar {
    position: absolute;
    right: 150px;
    width: 150px;
     }
     
#title{
      size : 50px;
      color :black
      font-size : 50px;
      text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
              
     }
    
    body {
        height:100%;
        width:100%;
    }
    #button2
{
    margin: 0 auto;
   top:50%;
   left:44%;
   border-top: 1px solid #96d1f8;
   background: #082e2e;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#082e2e));
   background: -webkit-linear-gradient(top, #3e779d, #082e2e);
   background: -moz-linear-gradient(top, #3e779d, #082e2e);
   background: -ms-linear-gradient(top, #3e779d, #082e2e);
   background: -o-linear-gradient(top, #3e779d, #082e2e);
   padding: 16.5px 33px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   position:absolute;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
         
         
     
